*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
header{
    width: 100%;
    background: #051540;
}
.planet-logo{
    width: 100px;
    margin: 30px 0px 0px 100px;
}
.container{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.container-2{
    margin-top: 160px;
}
.container-2 h1{
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.container-2 p{
    color: #ddd;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 60px;
}
.explore-btn button, .contact-btn button{
    border: none;
    width: 160px;
    height: 40px;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.explore-btn button{
    background: #164BAF;
    margin-right: 10px;
}
.explore-btn button:hover{
    background: #ddd;
    color: #164BAF;
}
.contact-btn button{
    background: none;
    border: #ddd 1px solid;
}
.contact-btn button:hover{
    background: #ddd;
    color: #051540;
}
.container img{
    width: 700px;
    filter: drop-shadow(5px 5px 20px rgba(255, 255, 255, 0.4));
}
/* ------MAIN STYLE-------- */
main{
    background: #fff;
}
span{
    color: #1274A4;
    font-weight: bold;
}
.section-1{
    width: 60%;
    margin: 50px auto;
    text-align: center;
}
.section-1 h2{
    color: #164BAF;
    margin-bottom: 10px;
    font-size: 1.6rem;
}
.section-1 p{
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.section-1 video{
    width: 100%;
    height: 25em;
    border-radius: 20px;
}

.section-2{
    background: #F2F7FF;
    text-align: center;
}
.container-3{
    width: 70%;
    margin: 0 auto;
}
.container-3 h2{
    color: #164BAF;
    font-size: 1.6rem;
}
.container-3 p{
    font-size: 15px;
    line-height: 1.6;
}




